<div class="container">
    <section class="title">
        <h1 class="main-title">Search</h1>
        <p class="subtitle">
            Search by unit number, platform account number, firm name, account prefix or account ID
        </p>
    </section>
    <section class="search">
        <app-menu label="Add new" [items]="menuItems" (itemSelected)="onItemSelected($event)"></app-menu>
        <saf-search-field class="search-field" a11y-aria-description="search by keyword or phrase"
            (search)="onSearch($event)" />
    </section>
</div>