<saf-footer product-name="Saffron Design System" a11y-aria-label-social-icons="Social Links" a11y-aria-label-anchor-group="Footer Links">
        
    <saf-list slot="footer-links" size="medium" list-style="none" order="unordered" inline="true">
        <saf-list-item>
            <saf-anchor href="https://www.thomsonreuters.com/en/terms-of-use.html">Terms</saf-anchor>
        </saf-list-item>
        <saf-list-item>
            <saf-anchor href="https://www.thomsonreuters.com/en/privacy-statement.html">Privacy</saf-anchor>
        </saf-list-item>
        <saf-list-item>
            <saf-anchor href="https://www.thomsonreuters.com/en/policies/copyright.html">Copyright</saf-anchor>
        </saf-list-item>
        <saf-list-item>
            <saf-anchor href="https://www.thomsonreuters.com/en/privacy-statement.html#CookieIBA">Cookies</saf-anchor>
        </saf-list-item>
        <saf-list-item>
            <saf-anchor href="https://privacyportal-cdn.onetrust.com/dsarwebform/dbf5ae8a-0a6a-4f4b-b527-7f94d0de6bbc/5dc91c0f-f1b7-4b6e-9d42-76043adaf72d.html">Do not sell my information</saf-anchor>
        </saf-list-item>
        <saf-list-item>
            <saf-anchor href="https://www.thomsonreuters.com/en/policies/digital-accessibility-policy.html">Accessibility</saf-anchor>
        </saf-list-item>
    </saf-list>
    <saf-list slot="footer-social" size="medium" list-style="none" order="unordered" inline="true">
        <saf-list-item>
            <saf-anchor aria-label="email Thomson Reuters" href="mailto:info@thomsonreuters.com">
                <saf-icon icon-name="envelope" appearance="light" color="#000"></saf-icon>
            </saf-anchor>
        </saf-list-item>
        <saf-list-item>
            <saf-anchor aria-label="Thomson Reuters on Facebook" href="https://www.facebook.com/thomsonreuters">
                <saf-icon icon-name="facebook-f" appearance="brands" color="#000"></saf-icon>
            </saf-anchor>
        </saf-list-item>
        <saf-list-item>
            <saf-anchor aria-label="Thomson Reuters on Instagram" href="https://www.instagram.com/thomsonreuters">
                <saf-icon icon-name="instagram" appearance="brands" color="#000"></saf-icon>
            </saf-anchor>
        </saf-list-item>
        <saf-list-item>
            <saf-anchor aria-label="Thomson Reuters on LinkedIn" href="https://www.linkedin.com/company/thomson-reuters">
                <saf-icon icon-name="linkedin-in" appearance="brands" color="#000"></saf-icon>
            </saf-anchor>
        </saf-list-item>
        <saf-list-item>
            <saf-anchor aria-label="Thomson Reuters on Twitter" href="https://twitter.com/thomsonreuters">
                <saf-icon icon-name="twitter" appearance="brands" color="#000"></saf-icon>
            </saf-anchor>
        </saf-list-item>
        <saf-list-item>
            <saf-anchor aria-label="Thomson Reuters on YouTube" href="https://www.youtube.com/thomsonreuters">
                <saf-icon icon-name="youtube" appearance="brands" color="#000"></saf-icon>
            </saf-anchor>
        </saf-list-item>
    </saf-list>

</saf-footer>