<div class="common-header-container">
    <saf-text appearance="heading-3xl" density="standard">{{ title }}</saf-text>
    <div *ngIf="subtitle">
        <p class="common-heading__subtitle no-margin">
            <saf-text appearance="body-default-md" density="inherit"
                >{{ subtitle }}</saf-text
            >
        </p>
    </div>
    <div *ngIf="tertiaryTitle">
        <p class="common-heading__tertiary no-margin">
            <saf-text appearance="body-default-sm" density="inherit"
                >{{ tertiaryTitle }}</saf-text
            >
        </p>
    </div>
</div>