<div class="cuas-user-selector-container">
  <saf-card class="cuas-user-selector-card" appearance="vertical" heading-level="2" image-bleed="true" density="inherit">

    <div class="cuas-user-selector-heading">
      <h1 slot="heading"><saf-text appearance="heading-4xl" density="inherit">Checkpoint user administration</saf-text></h1>
      <h2><saf-text appearance="heading-2xl" density="inherit">Sign in as:</saf-text></h2>
    </div>

    <saf-search-field
      role="search"
      type="search"
      aria-label="Search for username"
      density="inherit"
      label="Filter profiles"
      a11y-aria-description="search by keyword or phrase"
      (keyup)="searchFilter($event)"
      (clear)="clearSearch()"
    ></saf-search-field>

    <div class="cuas-select-profile-wrapper">
      <saf-radio-group
        name="login-users"
        orientation="vertical"
        value="users"
        instructional-text="Select profile to sign in"
        [attr.invalid]="unselectedUser()"
        [attr.validation-message]="validationMessage()"
        (change)="onUserChange($event)"
        >
          @for (user of filteredUsers(); track $index) {
          <saf-radio [id]="user.username"
            [value]="user.username"
            [checked]="user.checked"
            class="cuas-select-user-option"
            >
              <p>{{user.username}}</p>
              <span>{{user.accountName}}</span>
          </saf-radio>
         } @empty {
          <p><saf-text appearance="body-default-md" density="inherit">No results found. Try clearing your search filters</saf-text></p>
         }
      </saf-radio-group>
    </div>

    <saf-button density="inherit" layout="block" (click)="checkUserChecked()">Continue</saf-button>

  </saf-card>
</div>
