.badge {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: var(--saf-spacing-2);

  &-green {
    background-color: var(--saf-color-status-success-strong);
  }

  &-red {
    background-color: var(--saf-color-status-error-strong);
  }

  &-orange {
    background-color: var(--saf-color-status-warning-subtle);
    border: var(--saf-line-width-thin) solid
      var(--saf-color-status-warning-strong);
  }
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: var(--saf-spacing-2);

  input[type='checkbox'] {
    &::after {
      color: var(--saf-color-graphite);
    }

    &[disabled] {
      background: var(--saf-color-interactive-disabled-subtle);
      border-color: var(--saf-color-interactive-on-disabled-subtle);
      cursor: not-allowed;

      &::after {
        color: var(--saf-color-graphite);
      }
    }
  }
}

.column-header {
  display: flex;
  gap: var(--saf-spacing-4);

  saf-icon {
    padding-right: var(--saf-spacing-1);
  }
}

// Wijmo overrides
::ng-deep {
  .wj-cell {
    &[aria-readonly='true']:not(.wj-alt):not(.wj-header),
    &.wj-state-readonly:not(.wj-alt):not(.wj-header) {
      background: none;
      color: inherit;
    }

    &.wj-alt {
      background: var(--saf-flexgrid-color-background-alt-rows);
    }

    &.wj-header {
      background: var(--saf-flexgrid-color-background-header);
      color: var(--saf-color-interactive-on-secondary-default);
    }

    &.wj-align-right {
      text-align: left;
    }
  }
}
