<saf-button #trigger id="button-menu-trigger" [attr.aria-expanded]="open() ? 'true' : 'false'"
    aria-controls="button-menu-overlay" [appearance]="appearance" a11y-aria-label="User profile"
    (click)="clickHandler()" (keydown)="handleTriggerKeydown($event)">
    <saf-icon slot="end" icon-name="chevron-down" appearance="solid" presentation>
    </saf-icon>
    {{label}}
</saf-button>
<saf-anchored-region [attr.hidden]="open() ? null : ''" anchor="button-menu-trigger" class="region"
    vertical-default-position="bottom" horizontal-default-position="left" horizontal-inset="false"
    horizontal-scaling="content" vertical-inset="false" vertical-scaling="content">
    <saf-menu #menu id="button-menu-overlay" aria-label="Menu" [hidden]="!open()">
        @for (item of items; track item.id) {
        <saf-menu-item (click)="handleItemSelected(item)" (keydown)="handleMenuItemKeydown($event, item)">
            {{ item.text }}
        </saf-menu-item>
        }
    </saf-menu>
</saf-anchored-region>